<!DOCTYPE  html>
<html lang="en">

    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List App</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/vue"></script>   
    </head>    
<body>    
    <div id="app">
    </div>
    <div class="container">
        <h1 class="">My Todo List</h1>

  <div class="well">
    <h3>Input</h3>
    <form role="form" onsubmit="return false;">
      <div class="form-group">
        <select id="method" class="form-control">
          <option value="GET">GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
        </select>
      </div>
        <div class="card">
          <div class="flex">
            <input v-model="newtodo" placeholder="Add new todo"  />
            <button @click="addtodo" :disabled="newtodo.length === 0">Add</button>
              <button>Add</button>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <h2>Todo</h2>
            <ul class="list">
                <li class="list-todo" :class="{completed: todo.completed}" v-for="item in reversedItems">
                    <div class="list-todo-toggle" @click="toggleCompleted(todo)"></div><span>{{ todo.name }}</span>
                  <div class="list-todo-delete" @click="removeItem(todo.id)">X</div>

                </li>
            </ul>
          </div>
        </div>
      </div>  
        <!--<ul>    
        <li><a href="/list" class="{{ a1 }}">ALL</a></li>    
        <li><a href="/" class="{{ a2 }}">Uncompleted</a></li>    
        <li><a href="/completed" class="{{ a3 }}">Completed</a></li>    
    </ul> -->   
    <hr>    
    <form action="/search"   method="GET" >    
        <table class="none" id="close">    
        <tr>    
        <td></td><td></td>    
        </table>    
    </form>  
    </div>  
    <script>
       import Vue from 'vue'
       import axios from 'axios'
       import VueAxios from 'vue-axios'
       Vue.use(VueAxios, axios)
        new Vue( {
          el: '#app',
          data: {
            todo: '',  
            todos: [
               {
                 id: 1,
                 name: 'Attend a Course',
                 completed: true,

               },
               {
                 id: 2,
                 name: 'Sleep',
                 completed: false,

               },
            ]
           }
          methods: {
            addItem: function() {
              this.todos.push({
                id: this.todos.length + 1,
                name: this.todo,
                completed: false,
                });
              this.todo = '';
            },
            removeItem: function (todoID) {
                this.todos = this.todos.filter((todo) => newtodo.id!== todoID);
            }
          }, 
          addTodo() {
            if (this.newTodo.trim().length == 0){
                return
            }
            const path = this.baseUrl;
            var newEntry = {
              'title': this.newTodo,
              'status': false,
              'due': 0,
              'editing': false
            }
            Vue.axios.post(path, newEntry)
              .then(response => this.idForTodo = response.data.id)
              .then(this.todos.push(newEntry))
            this.newTodo=''
            this.idForTodo++
            
        },
        removeTodo(index) {
            this.todos.splice(index, 1)
            const path = this.baseUrl + "/" + index
            Vue.axios.delete(path)
        },
        editTodo(todo) {
            todo.editing = true
        },
        updateTodo(todo, index) {
            const path = this.baseUrl + "/" + index
            Vue.axios.put(path, {'title': todo.title})
        },
        doneEdit(todo, index) {
            this.updateTodo(todo, index);
            todo.editing = false
        }, 
        updateStatus(todo, index) {
            const path = this.baseUrl + "/" + index + "/check"
            Vue.axios.put(path, {'status': !todo.status}) // i think it takes the value before changing so i NOT it
        }
    }
  }
        });
      
    </script> 
  
</body>    
</html>   